
/* Lists */

.dot__list {
	list-style: disc outside none;
	padding-left: 32px;
}
.dot__list li + li {
	margin-top: 16px;
}

/* Bubble */

.bubble {
	display: inline-block;
	margin-top: 4px;
	padding: 4px 8px;
	
	font-size: 12px;
	line-height: 21px;
	
	background-color: #e0e2e6;
	border-radius: 2px;
}

/* Table */

table {
	text-align: left;
}
table.full__width {
	table-layout: fixed;
	width: 100%;
}
table.sticky__header {
	position: relative;
}
table.sticky__header th {
	position: sticky;
	position: -webkit-sticky;
	top: 80px;
}

td {
	padding: 16px;
}
th {
	padding: 12px 16px;
	vertical-align: middle;
	
	color: #ffffff;
	
	background-color: #0c1f40;
}
td:first-child,
th:first-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
td:last-child,
th:last-child {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

@media (min-width: 1025px) {
	td {
		padding: 24px;
	}
	th {
		padding: 16px 24px;
	}
	
	table.sticky__header th {
		top: 96px;
	}
}

/* Form */

.form {
	overflow: hidden;
	
	font-size: 16px;
	line-height: 28px;
	
	background-color: #ffffff;
	border-radius: 4px;
}
.form__block {
	padding: 8px 16px;
}
.form__block--orange {
	color: #ffffff;
	
	background-color: #f28c38;
}
.form__block--grey {
	color: #0c1f40;
	
	background-color: #f0f2f5;
}
.form__group {
	margin-left: -8px;
	margin-right: -8px;
	padding: 8px;
}
.form__title {
	color: inherit;
}
.form__label {
	display: block;
	margin-bottom: 8px;
	
	line-height: inherit;
}
.form__option {
	cursor: pointer;
	display: block;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	line-height: inherit;
}
.form__option__input {
	cursor: pointer;
	width: 0;
	height: 0;
	opacity: 0;
	position: absolute;
}
.form__option__radio {
	display: block;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 50%;
	left: 12px;
	margin-top: -8px;
	
	color: #e0e2e6;
	font-size: 10px;
	line-height: 16px;
	text-align: center;
	
	background-color: #f0f2f5;
	border-radius: 4px;
}
.form__option input:checked ~ .form__option__radio {
	color: #ffa827;
	
	background-color: #ffffff;
}
.form__option__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 6px 12px 6px 40px;
	
	color: #0c1f40;
	
	background-color: #ffffff;
}
.form__option + .form__option .form__option__content {
	border-top: 1px solid #f0f2f5;
}
.form__option:first-child .form__option__content {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.form__option:last-child .form__option__content {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
.form__option input:checked ~ .form__option__content {
	color: #ffffff;
	
	background-color: #0c1f40;
}
.form__option__title, 
.form__option__price {
	display: block;
}
.form__element {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: inline-block;
	margin: 0;
	padding: 0 12px;
	vertical-align: bottom;
	width: 100%;
	
	color: #0c1f40;
	font-family: inherit;
	font-size: inherit;
	font-weight: 300;
	line-height: inherit;
	text-align: left;
	
	background-color: #ffffff;
	border: 1px solid #ffffff;
	border-radius: 4px;
}
input[type=text].form__element, 
input[type=email].form__element, 
input[type=date].form__element, 
select.form__element {
	height: 40px;
	line-height: 38px;
}
textarea.form__element {
	padding: 5px 12px; 
}
.form__element.error {
	border-color: #cc0000;
}
::placeholder { 
	color: #c3c3c3;
	opacity: 1; 
}
:-ms-input-placeholder { 
	color: #c3c3c3;
}
::-ms-input-placeholder { 
	color: #c3c3c3;
}
.form__consent {
	cursor: pointer;
	display: block;
	padding-left: 24px;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	color: #767676;
	font-size: 12px;
	line-height: 20px;
}
.form__consent__input {
	cursor: pointer;
	width: 0;
	height: 0;
	opacity: 0;
	position: absolute;
}
.form__consent__checkmark {
	display: block;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 2px;
	left: 0;
	
	color: #e0e2e6;
	font-size: 10px;
	line-height: 16px;
	text-align: center;
	
	background-color: #ffffff;
	border-radius: 4px;
}
.form__consent input:checked ~ .form__consent__checkmark {
	color: #ffffff;
	
	background-color: #0c1f40
}
.form__consent__content a {
	color: inherit;
	text-decoration: underline;
}
.form__submit {
	cursor: pointer;
	display: inline-block;
	margin: 0;
	padding: 6px 16px;
	vertical-align: bottom;
	
	color: #ffffff;
	font-family: inherit;
	font-size: inherit;
	font-weight: 900;
	font-style: italic;
	line-height: inherit;
	text-align: center;
	
	background-color: #f28c38;
	border: 0 none;
	border-radius: 4px;
}
.form__submit:focus, 
.form__submit:hover {
	background-color: #d97727;
}
.error__message {
	display: block;
	margin-top: 4px;
	
	color: #cc0000;
	font-size: 12px;
	line-height: 21px;
}
.error__message i {
	margin-right: 4px;
}

@media (min-width: 1025px) {
	.form__block {
		padding: 12px 24px;
	}
	.form__group {
		margin-left: -12px;
		margin-right: -12px;
		padding: 12px;
	}
	.form__option__content {
		padding: 10px 12px 10px 40px;
	}
	input[type=text].form__element, 
	input[type=email].form__element, 
	input[type=date].form__element, 
	select.form__element {
		height: 48px;
		line-height: 46px;
	}
	textarea.form__element {
		padding: 9px 12px;
	}
}

@media (min-width: 1280px) {
	.form {
		font-size: 18px;
		line-height: 30px;
		
		border-radius: 8px;
	}
	input[type=text].form__element, 
	input[type=email].form__element,
	select.form__element {
		height: 44px;
		line-height: 42px;
	}
	textarea.form__element {
		padding: 6px 12px; 
	}
	.form__submit {
		padding: 8px 24px;
	}
	.error__message {
		margin-top: 8px;
		
		font-size: 14px;
		line-height: 25px;
	}
	.error__message i {
		margin-right: 6px;
	}
}

/* Container */

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
	position: relative;
}
.shape + .container {
	padding-bottom: 32px;
}

@media (min-width: 1025px) {
	.shape + .container {
		padding-bottom: 48px;
	}
}

@media (min-width: 1280px) {
	.shape + .container {
		padding-bottom: 96px;
	}
}

/* Shape */

section {
	position: relative;
}

.shape {
	left: 0;
	overflow: hidden;
	position: absolute;
	width: 100%;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
	
	line-height: 0;
}
.shape--bottom {
	bottom: -1px;
}
.shape svg {
	display: block;
	height: 32px;
	left: 50%;
	position: relative;
	width: calc(100% + 1.3px);
	z-index: -1;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
.shape .shape-fill {
	fill: #ffffff;
}

@media (min-width: 1025px) {
	.shape svg {
		height: 48px;
	}
}

@media (min-width: 1280px) {
	.shape svg {
		height: 96px;
	}
}

/* Inner Section */

.inner__section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-right: -8px;
	margin-left: -8px;
}
.inner__section__column {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	max-width: 100%;
	min-width: 100%;
	padding-right: 8px;
	padding-left: 8px;
}

@media (min-width: 768px) {
	.inner__section--two-col .inner__section__column {
		-ms-flex-preferred-size: 50%;
		flex-basis: 50%;
		max-width: 50%;
		min-width: 50%;
	}
}

@media (min-width: 1025px) {
	.inner__section {
		margin-right: -12px;
		margin-left: -12px;
	}
	.inner__section__column {
		padding-right: 12px;
		padding-left: 12px;
	}
}

/* Overlay */

.overlay {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	
	background: -moz-linear-gradient(top,  rgba(12,31,64,0) 0%, rgba(12,31,64,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(12,31,64,0) 0%,rgba(12,31,64,1) 100%);
	background: linear-gradient(to bottom,  rgba(12,31,64,0) 0%,rgba(12,31,64,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000c1f40', endColorstr='#0c1f40',GradientType=0 );
}

/* Slider */

/* slider arrows */

.splide__arrows {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	left: -8px;
	margin-top: -16px;
	position: absolute;
	pointer-events: none;
	right: -8px;
	top: 50%;
	z-index: 1;
}
.splide__arrow {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: inline-block;
	height: 32px;
	padding: 0;
	pointer-events: all;
	width: 32px;
	
	font-family: 'Font Awesome 5 Free';
	font-size: 100%;
	font-style: normal;
	font-variant: normal;
	font-weight: 900;
	line-height: 1;
	text-align: center;
	text-rendering: auto;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	
	background-color: #ffffff;
	border: 0;
}
.splide__arrow--prev:before {
	content: "\f104";
}
.splide__arrow--next:before {
	content: "\f105";
}
.splide__arrow svg {
	display: none;
}

@media (min-width: 1025px) {
	
	/* slider arrows */
	
	.splide__arrows {
		left: -12px;
		margin-top: -24px;
		right: -12px;
	}
	.splide__arrow {
		height: 48px;
		width: 48px;
	}
}

/* Branding */

.branding, 
.branding__img {
	display: block;
}
.branding__img {
	height: 48px;
	width: 74px;
}

/* Certificates */

.certificates {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 32px;
	padding: 0 16px;
	
	color: #ffffff;
	font-size: 12px;
	line-height: 22px;
	
	background-color: #3a4d6d;
}
.certificates__heading, 
.certificate, 
.certificate__img {
	display: block;
}
.certificates__heading {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}
.certificates__heading br {
	display: none;
}
.certificate + .certificate {
	margin-left: 16px;
}
.certificate__img {
	height: 48px;
	width: auto;
}

@media (min-width: 768px) {
	.certificates {
		height: auto;
		padding: 8px 16px;
		
		border-radius: 0 0 4px 4px;
	}
	.certificates__heading {
		margin-right: 16px;
		
		text-align: center;
	}
	.certificates__heading br {
		display: block;
	}
	.certificate + .certificate {
		margin-left: 8px;
	}
	.certificate__img {
		height: 64px;
	}
}

@media (min-width: 1025px) {
	.certificates {
		padding: 12px 24px;
	}
	.certificates__heading {
		margin-right: 24px;
	}
	.certificate + .certificate {
		margin-left: 12px;
	}
	.certificate__img {
		height: 72px;
	}
}

@media (min-width: 1280px) {
	.certificates {
		border-radius: 0 0 6px 6px;
	}
}

/* Icon List */

.icon__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	margin-left: -8px;
	margin-right: -8px;
	margin-bottom: 0 !important;
}
.icon__list__item {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	max-width: 100%;
	min-width: 100%;
	padding: 8px;
}
.icon__list__icon, 
.icon__list__title, 
.icon__list__caption, 
.icon__list__description, 
.icon__list__link {
	display: block;
}
.icon__list__icon--yellow {
	color: #ffbb00;
}
.icon__list__icon--blue {
	color: #46bdf0;
}
.icon__list__anchor {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	
	color: inherit;
	text-decoration: none;
}
.icon__list--stacked .icon__list__anchor {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
a.icon__list__anchor:hover .icon__list__icon {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
.icon__list--stacked .icon__list__content {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	max-width: 100%;
	min-width: 100%;
}
.icon__list__link {
	color: inherit;
	text-decoration: none;
}
.icon__list__link i {
	margin-right: 8px;
}

@media (min-width: 1025px) {
	.icon__list {
		margin-left: -12px;
		margin-right: -12px;
	}
	.icon__list__item {
		padding: 12px;
	}
}

/* Product List */

.product__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	margin-left: -8px;
	margin-right: -8px;
	margin-bottom: 0 !important;
	
	color: #ffffff;
}
.product__list__item {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	max-width: 100%;
	min-width: 100%;
	padding: 8px;
}
.product__list__anchor, 
.product__list__image, 
.product__list__title {
	display: block;
}
.product__list__anchor {
	overflow: hidden;
	position: relative;
	
	color: inherit;
	text-decoration: none;
	
	border-top: 4px solid #f28c38;
	border-radius: 4px;
}
.product__list__anchor:hover .product__list__image {
	-webkit-transform: scale(1.15);
	-moz-transform: scale(1.15);
	-ms-transform: scale(1.15);
	-o-transform: scale(1.15);
	transform: scale(1.15);
}
.product__list__anchor .overlay {
	z-index: 1;
}
.product__list__image {
	height: auto;
	width: 100%;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.product__list__content {
	bottom: 0;
	left: 0;
	padding: 16px;
	position: absolute;
	right: 0;
	z-index: 2;
}

@media (min-width: 768px) {
	.product__list__item {
		-ms-flex-preferred-size: 50%;
		flex-basis: 50%;
		max-width: 50%;
		min-width: 50%;
	}
}

@media (min-width: 1025px) {
	.product__list {
		margin-left: -12px;
		margin-right: -12px;
	}
	.product__list__item {
		-ms-flex-preferred-size: 33.33333%;
		flex-basis: 33.33333%;
		max-width: 33.33333%;
		min-width: 33.33333%;
		padding: 12px;
	}
	.product__list__content {
		padding: 24px;
	}
}

@media (min-width: 1280px) {
	.product__list {
		font-size: 21px;
		line-height: 28px;
	}
	.product__list__anchor {
		border-radius: 6px;
	}
}

/* Voucher List */

.voucher__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	margin-left: -8px;
	margin-right: -8px;
	margin-bottom: 0 !important;
}
.voucher__list__item {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	max-width: 100%;
	min-width: 100%;
	padding: 8px;
}
.voucher__list__anchor, 
.voucher__list__image, 
.voucher__list__amount, 
.voucher__list__ribbon, 
.voucher__list__caption, 
.voucher__list__title {
	display: block;
}
.voucher__list__anchor {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	
	color: inherit;
	text-decoration: none;
}
.voucher__list__anchor:hover .voucher__list__image {
	-webkit-transform: scale(1.15);
	-moz-transform: scale(1.15);
	-ms-transform: scale(1.15);
	-o-transform: scale(1.15);
	transform: scale(1.15);
}
.voucher__list__decor, 
.voucher__list__content {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-flex-negative: 1;
	flex-shrink: 1;
	-ms-flex-preferred-size: 0px;
	flex-basis: 0px;
}
.voucher__list__decor {
	overflow: hidden;
	position: relative;
	
	border-top: 4px solid #f28c38;
	border-radius: 4px;
}
.voucher__list__decor .overlay {
	z-index: 1;
}
.voucher__list__image {
	height: auto;
	width: 100%;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.voucher__list__amount {
	left: 50%;
	position: absolute;
	top: 50%;
	height: 25vw;
	width: 25vw;
	z-index: 2;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	
	color: #0c1f40;
	font-family: 'Oswald', sans-serif;
	font-size: 9vw;
	font-weight: bold;
	letter-spacing: -0.05em;
	line-height: 25vw;
	text-align: center;
	
	background-color: rgba(255, 255, 255, 0.23);
	border-radius: 50%;
}
.voucher__list__ribbon {
	height: auto;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
}
.voucher__list__content {
	margin-left: 16px;
	
	z-index: 2;
}
.voucher__list__caption {
	font-size: 12px;
	line-height: 20px;
}
.voucher__list__title {
	margin-top: 4px;
	
	color: #0c1f40;
}

@media (max-width: 767px) {
	.voucher__list__item + .voucher__list__item {
		margin-top: 16px;
	}
}

@media (min-width: 768px) {
	.voucher__list__item {
		-ms-flex-preferred-size: 50%;
		flex-basis: 50%;
		max-width: 50%;
		min-width: 50%;
	}
	.voucher__list__amount {
		height: 14vw;
		width: 14vw;
		
		font-size: 5vw;
		line-height: 14vw;
	}
}

@media (min-width: 1025px) {
	.voucher__list {
		margin-left: -12px;
		margin-right: -12px;
	}
	.voucher__list__item {
		padding: 12px;
	}
	.voucher__list__amount {
		height: 9.5vw;
		width: 9.5vw;
		
		font-size: 3.5vw;
		line-height: 9.5vw;
	}
	.voucher__list__content {
		-webkit-box-flex: 2;
		-ms-flex-positive: 2;
		flex-grow: 2;
		margin-left: 24px;
	}
}

@media (min-width: 1280px) {
	.voucher__list__decor {
		border-radius: 6px;
	}
	.voucher__list__amount {
		height: 120px;
		width: 120px;
		
		font-size: 40px;
		line-height: 120px;
	}
	.voucher__list__title {
		margin-top: 8px;
		
		font-size: 21px;
		line-height: 28px;
	}
}

/* Article List */

.article__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	margin-left: -8px;
	margin-right: -8px;
	margin-bottom: 0 !important;
}
.article__list__item {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	max-width: 100%;
	min-width: 100%;
	padding: 8px;
}
.article__list__anchor, 
.article__list__image, 
.article__list__title, 
.article__list__description {
	display: block;
}
.article__list__anchor {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	
	color: inherit;
	text-decoration: none;
}
.article__list__anchor:hover .article__list__image {
	-webkit-transform: scale(1.15);
	-moz-transform: scale(1.15);
	-ms-transform: scale(1.15);
	-o-transform: scale(1.15);
	transform: scale(1.15);
}
.article__list__decor, 
.article__list__content {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-flex-negative: 1;
	flex-shrink: 1;
	-ms-flex-preferred-size: 0px;
	flex-basis: 0px;
}
.article__list__decor {
	overflow: hidden;
	
	border-radius: 4px;
}
.article__list__image {
	width: 100%;
	height: auto;
}
.article__list__content {
	margin-left: 16px;
}
.article__list__title {
	color: #0c1f40;
}
.article__list__description {
	margin-top: 4px;
	
	font-size: 12px;
	line-height: 20px;
}
.article__list__description i {
	margin-left: 8px;
}

@media (min-width: 1025px) {
	.article__list {
		margin-left: -12px;
		margin-right: -12px;
	}
	.article__list__item {
		padding: 12px;
	}
	.article__list__anchor {
		-ms-flex-wrap: wrap;
        flex-wrap: wrap;
	}
	.article__list__decor, 
	.article__list__content {
		-ms-flex-preferred-size: 100%;
        flex-basis: 100%;
		max-width: 100%;
		min-width: 100%;
	}
	.article__list__decor {
		margin-bottom: 24px;
	}
	.article__list__content {
		margin-left: 0;
	}
}

@media (min-width: 1280px) {
	.article__list__decor {
		border-radius: 6px;
	}
}

/* Insurance */

.insurance {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	min-height: 88px;
	padding: 16px;
	
	color: inherit;
	text-decoration: none;
	
	background-color: #f0f2f5;
	border-radius: 4px;
	border-top: 4px solid #de0031;
}
.insurance:hover .insurance__logo {
	-webkit-transform: scale(1.15);
	-moz-transform: scale(1.15);
	-ms-transform: scale(1.15);
	-o-transform: scale(1.15);
	transform: scale(1.15);
}
.insurance__logo {
	display: block;
	width: 96px;
	height: auto;
}
.insurance__description {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-flex-negative: 1;
	flex-shrink: 1;
	-ms-flex-preferred-size: auto;
	flex-basis: auto;
	margin-left: 16px;
}

@media (min-width: 1025px) {
	.insurance {
		padding: 24px;
	}
	.insurance__description {
		margin-left: 24px;
	}
}

@media (min-width: 1280px) {
	.insurance {
		border-radius: 6px;
	}
}

/* Navigation Trigger */

.navigation__trigger {
	display: block;
	position: relative;
	height: 32px;
	width: 32px;
}
.navigation__trigger span {
	display: block;
	opacity: 1;
	position: absolute;
	left: 4px;
	height: 3px;
	width: 24px;
	
	font-size: 0;
	
	background-color: #ffffff;
	border-radius: 1px;
}
.navigation__trigger span:nth-child(1) {
	top: 10px;
}
.navigation__trigger span:nth-child(2), 
.navigation__trigger span:nth-child(3) {
	top: 15px;
}
.navigation__trigger span:nth-child(4) {
	top: 20px;
}
.navigation__trigger.opened span:nth-child(1), 
.navigation__trigger.opened span:nth-child(4) {
	opacity: 0;
	top: 15px;
}
.navigation__trigger.opened span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.navigation__trigger.opened span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/* Navigation */

.navigation {
	display: none;
	max-height: calc(100vh - 112px);
	overflow: auto;
	position: fixed;
	left: 0;
	right: 0;
	top: 112px;
	
	color: #0c1f40;
	
	background-color: #ffffff;
}
.navigation.opened {
	display: block;
}
.navigation__submenu {
	display: none;
	padding: 0 16px 16px;
	
	color: #767676;
}
.navigation__submenu.opened {
	display: block;
}
.navigation__menu__item {
	border-bottom: 1px solid #e0e2e6;
}
.navigation__submenu__item {
	background-color: #f0f2f5;
}
.navigation__submenu__item + .navigation__submenu__item {
	border-top: 1px solid #e0e2e6;
}
.navigation__menu__anchor, 
.navigation__submenu__anchor {
	display: block;
	padding: 16px;
	
	color: inherit;
	text-decoration: none;
}
.navigation__menu__anchor {
	text-transform: uppercase;
}
.navigation__menu__anchor i {
	margin-left: 8px;
	
	font-size: 21px;
	
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}
.navigation__menu__anchor.opened i {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.navigation__icons__item + .navigation__icons__item {
	margin-left: 16px;
}
.navigation__icons__anchor {
	display: block;
	height: 32px;
	width: 32px;
	
	color: #ffffff;
	font-size: 16px;
	line-height: 32px;
	text-align: center;
	text-decoration: none;
	
	background-color: #0c1f40;
	border-radius: 50%;
}
.navigation__icons__anchor:hover {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}

@media (min-width: 768px) {
	.navigation {
		max-height: calc(100vh - 80px);
		top: 80px;
	}
}

@media (min-width: 1025px) {
	.navigation {
		max-height: calc(100vh - 96px);
		top: 96px;
	}
	.navigation__menu__anchor, 
	.navigation__submenu__anchor {
		padding: 24px;
	}
	.navigation__menu__anchor i {
		margin-left: 12px;
	}
}

@media (min-width: 1280px) {
	
	/* Navigation Trigger */
	
	.navigation__trigger {
		display: none;
	}
	
	/* Navigation */
	
	.navigation {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		max-height: none;
		overflow: visible;
		position: static;
		left: auto;
		right: auto;
		top: auto;
		
		color: #ffffff;
		
		background-color: transparent;
	}
	.navigation__menu {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.navigation__menu, 
	.navigation__submenu {
		font-size: 12px;
		line-height: 24px;
	}
	.navigation__menu {
		-webkit-transition: all .2s;
		-moz-transition: all .2s;
		-o-transition: all .2s;
		transition: all .2s;
	}
	.navigation__submenu {
		left: 0;
		max-height: 210px;
		overflow: auto;
		padding: 0;
		position: absolute;
		top: 100%;
		width: 200px;
		
		color: #ffffff;
		
		border-radius: 6px;
		-webkit-transition: all .2s;
		-moz-transition: all .2s;
		-o-transition: all .2s;
		transition: all .2s;
		
		scrollbar-width: thin;
		scrollbar-color: #3a4d6d #4e6386;
	}
	.navigation__submenu::-webkit-scrollbar {
		width: 11px;
	}
	.navigation__submenu::-webkit-scrollbar-track {
		background: #4e6386;
	}
	.navigation__submenu::-webkit-scrollbar-thumb {
		background-color: #3a4d6d;
		border-radius: 6px;
		border: 3px solid #4e6386;
	}
	.navigation__menu__item:hover .navigation__submenu {
		display: block;
	}
	.navigation__menu__item {
		position: relative;
		
		border-bottom: 0;
		
		-webkit-transition: all .2s;
		-moz-transition: all .2s;
		-o-transition: all .2s;
		transition: all .2s;
	}
	.navigation__menu:hover .navigation__menu__item {
		opacity: .5;
	}
	.navigation__menu .navigation__menu__item:hover {
		opacity: 1;
	}
	.navigation__submenu__item {
		background-color: #3a4d6d;
	}
	.navigation__submenu__item + .navigation__submenu__item {
		border-top: 1px solid #4e6386;
	}
	.navigation__menu__anchor, 
	.navigation__submenu__anchor {
		padding: 12px;
	}
	.navigation__submenu__anchor {
		-webkit-transition: all .2s;
		-moz-transition: all .2s;
		-o-transition: all .2s;
		transition: all .2s;
	}
	.navigation__submenu__anchor:hover {
		padding-left: 16px;
	}
	.navigation__menu__anchor i {
		display: none;
	}
	
	.navigation__icons__item + .navigation__icons__item {
		margin-left: 12px;
	}
}

/* Sitemap */

.sitemap__list {
	margin-left: -8px;
	margin-right: -8px;
}
.sitemap__sublist {
	margin-top: 8px;
}
.sitemap__list__item {
	-ms-flex-preferred-size: 50%;
	flex-basis: 50%;
	max-width: 50%;
	min-width: 50%;
	padding: 8px;
}
.sitemap__sublist__item + .sitemap__sublist__item {
	margin-top: 4px;
}
.sitemap__list__anchor, 
.sitemap__sublist__anchor {
	color: inherit;
	text-decoration: none;
}

@media (min-width: 768px) {
	.sitemap__list__item {
		-ms-flex-preferred-size: 33.33333%;
		flex-basis: 33.33333%;
		max-width: 33.33333%;
		min-width: 33.33333%;
	}
}

@media (min-width: 1025px) {
	.sitemap__list {
		margin-left: -12px;
		margin-right: -12px;
	}
	.sitemap__list__item {
		padding: 12px;
	}
}

@media (min-width: 1280px) {
	.sitemap__list__item {
		-ms-flex-preferred-size: 16.66666%;
		flex-basis: 16.66666%;
		max-width: 16.66666%;
		min-width: 16.66666%;
	}
}

/* Menu */

.menu__list__anchor {
	color: inherit;
	text-decoration: none;
}

/* Gallery */

.gallery {
	margin-left: -8px;
	margin-right: -8px;
}
.gallery__column {
	padding: 8px;
}
.gallery__image {
	display: block;
	height: auto;
	width: 100%;
	
	border-radius: 4px;
}
.gallery__image + .gallery__image {
	margin-top: 16px;
}

@media (min-width: 768px) {
	.gallery__column {
		-ms-flex-preferred-size: 50%;
		flex-basis: 50%;
		max-width: 50%;
		min-width: 50%;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.gallery__column:last-child {
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		max-width: 100%;
		min-width: 100%;
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		-webkit-column-gap: 16px;
		-moz-column-gap: 16px;
		column-gap: 16px;
	}
	.gallery__column:last-child .gallery__image:first-child {
		margin-top: -6.5%;
	}
}

@media (min-width: 1025px) {
	.gallery {
		margin-left: -12px;
		margin-right: -12px;
	}
	.gallery__column {
		-ms-flex-preferred-size: 33.33333%;
		flex-basis: 33.33333%;
		max-width: 33.33333%;
		min-width: 33.33333%;
		padding: 12px;
	}
	.gallery__image + .gallery__image {
		margin-top: 24px;
	}
}

@media (min-width: 1280px) {
	.gallery__image {
		border-radius: 6px;
	}
}

/* Product Gallery */

.product__gallery:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.product__gallery__item {
	display: block;
	float: left;
	height: auto;
	margin: 8px 0;
	width: 100%;
	
	border-radius: 4px;
}

@media (min-width: 768px) {
	.product__gallery {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		-webkit-column-gap: 16px;
		-moz-column-gap: 16px;
		column-gap: 16px;
	}
}

@media (min-width: 1025px) {
	.product__gallery {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
		-webkit-column-gap: 24px;
		-moz-column-gap: 24px;
		column-gap: 24px;
	}
	.product__gallery__item {
		margin: 12px 0;
	}
}

/* Partners */

.partners {
	margin-left: -8px;
	margin-right: -8px;
}
.partners__list__item {
	padding: 8px;
}
.partners__list__logo {
	display: block;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	max-width: 200px;
	width: 100%;
}

@media (min-width: 1025px) {
	.partners {
		margin-left: -12px;
		margin-right: -12px;
	}
	.partners__list__item {
		padding: 12px;
	}
}

/* Testimonials */

.testimonials {
	margin-left: -8px;
	margin-right: -8px;
}
.testimonials__list__item {
	padding: 8px;
}

.testimonial {
	padding: 16px;
	
	border: 1px solid #e0e2e6;
	border-radius: 4px;
}
.testimonial__heading .icon__list {
	margin-top: -8px;
	margin-bottom: 8px !important;
}
.testimonial__heading .icon__list__icon {
	margin-right: 16px;
	height: 48px;
	width: 48px;
	
	border-radius: 50%;
}
.testimonial__heading .icon__list__title {
	color: #0c1f40;
}
.testimonial__heading .icon__list__description {
	font-size: 12px;
	line-height: 22px;
}

@media (min-width: 1025px) {
	.testimonials {
		margin-left: -12px;
		margin-right: -12px;
	}
	.testimonials__list__item {
		padding: 12px;
	}
	
	.testimonial {
		padding: 24px;
	}
	.testimonial__heading .icon__list {
		margin-top: -12px;
		margin-bottom: 12px;
	}
}

@media (min-width: 1280px) {
	.testimonial {
		border-radius: 6px;
	}
	.testimonial__heading .icon__list {
		margin-bottom: 12px !important;
	}
}

/* Popup */

.popup {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 2000;
	
	background-color: rgba(3, 12, 28, 0.88);
}
.popup.opened {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.popup__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	max-width: 800px;
	max-height: 100%;
	
	background-color: #ffffff;
	border-radius: 4px;
}
.popup__header {
	padding: 12px 16px;
	position: relative;
	
	color: #ffffff;
	
	background-color: #f28c38;
	border-radius: 4px 4px 0 0;
}
.popup__close {
	display: block;
	width: 32px;
	height: 32px;
	position: absolute;
	right: 16px;
	top: 16px;
	
	color: inherit;
	font-size: 21px;
	line-height: 32px;
	text-align: center;
	text-decoration: none;
}
.popup__title {
	padding-right: 32px;
}
.popup__content {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	overflow: auto;
	padding: 16px;
}

@media (min-width: 768px) {
	.popup {
		padding: 16px;
	}
}

@media (min-width: 1025px) {
	.popup {
		padding: 24px;
	}
	.popup__header {
		padding: 16px 24px;
	}
	.popup__close {
		right: 24px;
	}
	.popup__content {
		padding: 24px;
	}
}

@media (min-width: 1280px) {
	.popup__container {
		border-radius: 6px;
	}
	.popup__header {
		border-radius: 6px 6px 0 0;
	}
}