
/* General */

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body.block-scroll {
	overflow: hidden;
}

/* Header */

.header {
	padding: 16px;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 10;
}
.header.scrolled {
	background-color: #ffffff;
	box-shadow: 0 10px 20px rgba(12, 31, 64, 0.16);
}

.header.scrolled .branding .shape-fill {
	fill: #0c1f40;
}

.header__navigation {
	position: relative;
}
.header .navigation__icons {
	padding: 16px;
}
.header.scrolled .navigation__trigger span {
	background-color: #0c1f40;
}

@media (min-width: 1025px) {
	.header {
		padding: 24px;
	}
	.header.scrolled .navigation {
		color: #0c1f40;
	}
	.header .navigation__icons {
		padding: 12px;
	}
	.header .navigation__icons__anchor {
		background-color: #3a4d6d;
	}
	.header.scrolled .navigation__icons__anchor {
		background-color: #0c1f40;
	}
}

/* Content */

.content {
	overflow-x: hidden;
}

/* Hero */

.hero {
	padding: 122px 16px 32px;
	
	color: #ffffff;
	text-align: center;
	
	background-color: #00314d;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}
.hero--home, 
.hero--category {
	background-image: url(../images/hero-background.jpg);
}
.hero--product {
	padding: 122px 16px 24px;
	
	text-align: left;
}
.hero__product__image {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	
	-webkit-filter: url('#duotone__darkblue');
	filter: url('#duotone__darkblue');
	background-color: #00314d;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}
.hero__heading__icon {
	display: block;
	height: 96px;
	margin: 0 auto 32px;
	width: 96px;
}
.hero__description {
	margin-top: 16px;
}
.hero__content .icon__list {
	font-size: 18px;
	line-height: 30px;
}
.hero__content .icon__list__item {
	-ms-flex-preferred-size: 50%;
	flex-basis: 50%;
	max-width: 50%;
	min-width: 50%;
	margin-top: 24px;
}
.hero__content .icon__list__icon {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 16px;
	height: 48px;
	width: 48px;
}
.hero__details {
	margin-top: 32px;
	padding-top: 24px;
}
.hero__details:before {
	bottom: -24px;
	content: " ";
	display: block;
	left: -16px;
	position: absolute;
	right: -16px;
	top: 0;
	
	background-color: rgba(255, 255, 255, 0.12);
}
.hero__details .icon__list {
	position: relative;
	
	font-size: 14px;
	line-height: 25px;
}
.hero__details .icon__list__icon {
	margin-top: 6px;
	margin-right: 16px;
	height: 32px;
	width: 32px;
}
.hero__details .icon__list__caption {
	font-size: 12px;
	line-height: 21px;
	text-transform: uppercase;
}
.hero__details .price__circle {
	position: absolute;
	right: 0;
	top: 32px;
}

@media (max-width: 767px) {
	.hero__details .icon__list__item:first-child {
		padding-right: 116px;
	}
	.hero__details .icon__list__item + .icon__list__item {
		margin-top: 8px;
	}
}

@media (min-width: 768px) {
	.hero__content .icon__list__item {
		-ms-flex-preferred-size: 33.33333%;
		flex-basis: 33.33333%;
		max-width: 33.33333%;
		min-width: 33.33333%;
	}
	.hero__details .icon__list {
		padding-right: 116px;
	}
	.hero__details .icon__list__item {
		-ms-flex-preferred-size: 33.33333%;
		flex-basis: 33.33333%;
		max-width: 33.33333%;
		min-width: 33.33333%;
	}
	.hero__details .price__circle {
		margin-top: -38px;
		top: 50%;
	}
}

@media (min-width: 1025px) {
	.hero {
		padding: 154px 24px 48px;
	}
	.hero--product {
		padding: 154px 24px 12px;
	}
	.hero--product .hero__content {
		padding-right: 33.33333%;
	}
	.hero__heading__icon {
		display: inline-block;
		margin: 0 24px 0 0;
		vertical-align: middle;
	}
	.hero__content .icon__list__item {
		-ms-flex-preferred-size: 16.66666%;
		flex-basis: 16.66666%;
		max-width: 16.66666%;
		min-width: 16.66666%;
	}
	.hero__content .icon__list__icon {
		margin-bottom: 24px;
	}
	.hero__details {
		margin-top: 48px;
		padding-top: 12px;
	}
	.hero__details:before {
		bottom: -12px;
		left: -24px;
		right: -24px;
	}
	.hero__details .icon__list {
		padding-right: 154px;
	}
	.hero__details .icon__list__item {
		-webkit-box-flex: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-ms-flex-preferred-size: auto;
		flex-basis: auto;
		max-width: none;
		min-width: 0;
	}
	.hero__details .price__circle {
		margin-top: -59px;
	}
}

@media (min-width: 1280px) {
	.hero {
		padding: 202px 48px 96px;
	}
	.hero--product {
		padding: 202px 48px 12px;
	}
	.hero--product .hero__content {
		padding-right: 50%;
	}
	.hero__heading__icon {
		height: 128px;
		width: 128px;
	}
	.hero__content .icon__list {
		font-size: 24px;
		line-height: 36px;
	}
	.hero__content .icon__list__item {
		margin-top: 48px;
	}
	.hero__content .icon__list__icon {
		height: 64px;
		width: 64px;
	}
	.hero__details {
		margin-top: 64px;
	}
	.hero__details:before {
		left: -9999px;
		right: -9999px;
	}
	.hero__details .icon__list {
		padding-right: 248px;
		
		font-size: 18px;
		line-height: 30px;
	}
	.hero__details .icon__list__icon {
		margin-top: 2px;
		height: 48px;
		width: 48px;
	}
	.hero__details .icon__list__caption {
		font-size: 14px;
		line-height: 25px;
	}
	.hero__details .price__circle {
		margin-top: -94px;
	}
}

/* Block */

.block {
	padding: 32px 16px;
	
	color: #767676;
}
.block h2, 
.block p, 
.block ul, 
.block ol {
	margin-bottom: 16px;
}
.block table {
	margin-top: 32px;
	margin-bottom: 16px;
}

@media (min-width: 1025px) {
	.block {
		padding: 48px 24px;
	}
	.block h2, 
	.block p, 
	.block ul, 
	.block ol {
		margin-bottom: 24px;
	}
	.block table {
		margin-top: 48px;
		margin-bottom: 24px;
	}
}

@media (min-width: 1280px) {
	.block {
		padding: 72px 48px;
	}
	.block h2 {
		margin-bottom: 24px;
	}
}

/* Product Detail */

.product__options .icon__list {
	margin-top: -8px;
}
.product__options .icon__list__item + .icon__list__item {
	margin-top: 8px;
}
.product__options .icon__list__icon {
	margin-right: 16px;
	height: 48px;
	width: 48px;
}
.product__options .icon__list__title {
	color: #0c1f40;
	font-size: 18px;
	line-height: 30px;
}
.product__options .icon__list__description {
	margin-top: 8px;
}

@media (min-width: 1025px) {
	.product__options .icon__list {
		margin-top: -12px;
	}
	.product__options .icon__list__item + .icon__list__item {
		margin-top: 12px;
	}
}

@media (min-width: 1280px) {
	.product__options .icon__list {
		margin-top: -24px;
	}
	.product__options .icon__list__item + .icon__list__item {
		margin-top: 0;
	}
	.product__options .icon__list__icon {
		height: 64px;
		width: 64px;
	}
	.product__options .icon__list__title {
		font-size: 24px;
		line-height: 36px;
	}
	.product__options .icon__list__description {
		margin-top: 12px;
	}
}

/* Footer */

.footer {
	margin-top: 32px;
	padding: 32px 16px;
	
	color: #ffffff;
	
	background-color: #0c1f40;
}

.footer__branding, 
.footer__info {
	margin-bottom: 32px;
}
.footer__description {
	margin-bottom: 32px;
	
	font-size: 14px;
	line-height: 25px;
}
.footer .sitemap__sublist__anchor:hover {
	color: #ffffff;
}
.footer .navigation__icons__anchor {
	background-color: #3a4d6d;
}

@media (min-width: 768px) {
	.footer__branding {
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		max-width: 100%;
		min-width: 100%;
	}
	.footer__info {
		-ms-flex-preferred-size: 33.33333%;
		flex-basis: 33.33333%;
		margin-bottom: 0;
		max-width: 33.33333%;
		min-width: 33.33333%;
		padding-right: 32px;
	}
	.footer__navigation {
		-ms-flex-preferred-size: 66.66667%;
		flex-basis: 66.66667%;
		margin-top: -8px;
		max-width: 66.66667%;
		min-width: 66.66667%;
	}
}

@media (min-width: 1025px) {
	.footer {
		margin-top: 48px;
		padding: 48px 24px;
	}
	.footer__info {
		padding-right: 48px;
	}
	.footer__navigation {
		margin-top: -12px;
	}
}

@media (min-width: 1280px) {
	.footer {
		padding: 48px;
	}
	.footer__info {
		-ms-flex-preferred-size: 25%;
		flex-basis: 25%;
		max-width: 25%;
		min-width: 25%;
	}
	.footer__navigation {
		-ms-flex-preferred-size: 75%;
		flex-basis: 75%;
		max-width: 75%;
		min-width: 75%;
	}
}

/* BottomBar */

.bottombar {
	padding: 16px;
	
	color: #7b8698;
	
	background-color: #0c1f40;
}
.bottombar .menu__list__item:hover {
	color: #ffffff;
}
.bottombar__navigation .menu__list__item {
	margin-right: 16px;
}

@media (min-width: 1025px) {
	.bottombar {
		padding: 24px;
	}
	.bottombar__navigation .menu__list__item {
		margin-right: 24px;
	}
}

@media (min-width: 1280px) {
	.bottombar {
		padding: 48px;
	}
}
