
/* General */

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body.block-scroll {
	overflow: hidden;
}

/* Header */

.header {
	padding: 16px;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 10;
}
.header.scrolled {
	background-color: #ffffff;
	box-shadow: 0 10px 20px rgba(12, 31, 64, 0.16);
}

.header .branding--dark {
	display: none;
}

.header.scrolled .branding--dark {
	display: block;
}
.header.scrolled .branding--light {
	display: none;
}

.header__navigation {
	position: relative;
}
.header .navigation__icons {
	padding: 16px;
	
	background-color: #f0f2f5;
}
.header.scrolled .navigation__trigger span {
	background-color: #0c1f40;
}

@media (min-width: 1025px) {
	.header {
		padding: 24px;
	}
	.header.scrolled .navigation {
		color: #0c1f40;
	}
	.header.scrolled .navigation__submenu {
		color: #767676;
	}
	.header.scrolled .navigation__submenu__item {
		background-color: #f0f2f5;
	}
	.header.scrolled .navigation__submenu__item + .navigation__submenu__item {
		border-top: 1px solid #e0e2e6;
	}
	.header .navigation__icons {
		padding: 12px;
		
		background-color: transparent;
		background-color: rgba(0, 0, 0, 0);
	}
	.header .navigation__icons__anchor {
		height: 22px;
		width: 22px;
		
		font-size: 12px;
		line-height: 22px;
		
		background-color: #3a4d6d;
	}
	.header.scrolled .navigation__icons__anchor {
		background-color: #0c1f40;
	}
}

/* Hero */

.hero {
	padding: 112px 16px 16px;
	
	color: #ffffff;
	
	background-color: #0c1f40;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}
.hero--home, 
.hero--category {
	text-align: center;
	
	background-image: url(../images/hero-background.jpg);
}
.hero--product {
	padding-bottom: 0;
}
.hero__product__image {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	
	-webkit-filter: url('#duotone__darkblue');
	filter: url('#duotone__darkblue');
	background-color: #00314d;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}
.hero__heading {
	margin-bottom: 16px;
}
.hero__heading__icon {
	display: block;
	height: 84px;
	margin: 0 auto 32px;
	width: 84px;
}
.hero__content .icon__list {
	font-size: 16px;
	line-height: 28px;
}
.hero__content .icon__list__item {
	-ms-flex-preferred-size: 50%;
	flex-basis: 50%;
	max-width: 50%;
	min-width: 50%;
	padding-top: 16px;
	padding-bottom: 16px;
}
.hero__content .icon__list__icon {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 16px;
	height: 48px;
	width: 48px;
}
.details {
	margin-top: 32px;
	margin-right: -16px;
	margin-left: -16px;
	padding: 16px;
	position: relative;
	
	background-color: rgba(255, 255, 255, 0.12);
}
.hero__details .icon__list {
	position: relative;
	
	font-size: 12px;
	line-height: 22px;
}
.hero__details .icon__list__item + .icon__list__item {
	margin-top: 8px;
}
.hero__details .icon__list__icon {
	margin-right: 12px;
	height: 24px;
	width: 24px;
}
.hero__details .icon__list__caption {
	text-transform: uppercase;
}

@media (min-width: 768px) {
	.hero__content .icon__list__item {
		-ms-flex-preferred-size: 33.33333%;
		flex-basis: 33.33333%;
		max-width: 33.33333%;
		min-width: 33.33333%;
	}
	.hero__details .icon__list__item {
		-webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
		max-width: none;
		min-width: 0;
	}
	.hero__details .icon__list__item + .icon__list__item {
		margin-top: 0;
		margin-left: 16px;
	}
}

@media (min-width: 1025px) {
	.hero {
		padding: 144px 24px 24px;
	}
	.hero--product {
		padding-bottom: 0;
	}
	.hero--product .hero__content {
		padding-right: 33.33333%;
	}
	.hero__heading {
		margin-bottom: 24px;
	}
	.hero__heading__icon {
		display: inline-block;
		margin: 0 16px 0 0;
		vertical-align: middle;
	}
	.hero__content .icon__list__item {
		-ms-flex-preferred-size: 16.66666%;
		flex-basis: 16.66666%;
		max-width: 16.66666%;
		min-width: 16.66666%;
		padding-top: 24px;
		padding-bottom: 24px;
	}
	.details {
		margin-top: 48px;
		margin-right: -24px;
		margin-left: -24px;
		padding: 12px 24px;
	}
	.hero__details .icon__list__item + .icon__list__item {
		margin-left: 12px;
	}
}

@media (min-width: 1280px) {
	.hero {
		padding: 192px 24px 48px;
	}
	.hero--product {
		padding-bottom: 0;
	}
	.hero__heading__icon {
		height: 105px;
		width: 105px;
		margin: 0 24px 0 0;
	}
	.hero__content .icon__list {
		font-size: 21px;
		line-height: 28px;
	}
	.hero__content .icon__list__icon {
		height: 64px;
		width: 64px;
		margin-bottom: 24px;
	}
	.hero__details .icon__list__icon {
		height: 32px;
		width: 32px;
		margin-right: 16px;
	}
}

/* Block */

.block {
	padding: 32px 16px;
	
	color: #767676;
}
.block h2:not(:last-child), 
.block p:not(:last-child), 
.block ul:not(:last-child), 
.block ol:not(:last-child) {
	margin-bottom: 16px;
}
.block table:not(:last-child) {
	margin-bottom: 32px;
}
.block h2:not(:first-child) {
	padding-top: 16px;
}

@media (min-width: 1025px) {
	.block {
		padding: 48px 24px;
	}
	.block h2:not(:last-child), 
	.block p:not(:last-child), 
	.block ul:not(:last-child), 
	.block ol:not(:last-child) {
		margin-bottom: 24px;
	}
	.block h2:not(:first-child) {
		padding-top: 48px;
	}
}

/* Product Detail */

.product__info {
	margin-bottom: 40px;
}
.product__info .icon__list {
	margin-bottom: 8px !important;
}
.product__info .icon__list__item + .icon__list__item {
	margin-top: 16px;
}
.product__info .icon__list__icon {
	height: 48px;
	width: 48px;
	margin-right: 16px;
}
.product__info .icon__list__title {
	color: #0c1f40;
}
.product__info .icon__list__description {
	margin-top: 8px;
}

.product__form .form {
	margin-bottom: 48px;
}
.product__form table .icon__list__icon {
	margin-top: 6px;
	margin-right: 8px;
	height: 16px;
	width: 16px;
}
.product__form table .icon__list__title {
	color: #0c1f40;
}

@media (min-width: 768px) {
	.product__info {
		margin-bottom: 0;
	}
}

@media (min-width: 1025px) {
	.inner__section--two-col .inner__section__column.product__info {
		-ms-flex-preferred-size: 66.66666%;
		flex-basis: 66.66666%;
		max-width: 66.66666%;
		min-width: 66.66666%;
	}
	.inner__section--two-col .inner__section__column.product__form {
		-ms-flex-preferred-size: 33.33333%;
		flex-basis: 33.33333%;
		max-width: 33.33333%;
		min-width: 33.33333%;
	}
}

@media (min-width: 1280px) {
	.product__info .icon__list__item + .icon__list__item {
		margin-top: 24px;
	}
	.product__info .icon__list__icon {
		height: 64px;
		width: 64px;
	}
	.product__info .icon__list__description {
		margin-top: 12px;
	}
	.product__info .icon__list__title {
		font-size: 21px;
		line-height: 28px;
	}
	.product__form .form {
		margin-top: -285px;
	}
}

/* Contact */

.contact__info {
	margin-bottom: 40px;
}
.contact__info .icon__list__icon {
	margin-right: 16px;
	height: 48px;
	width: 48px;
}
.contact__info .icon__list__title {
	margin-bottom: 8px;
	
	color: #0c1f40;
}
.contact__info .icon__list__link i {
	color: #0c1f40;
}
.contact__info .icon__list__link + .icon__list__link {
	margin-top: 4px;
}

@media (min-width: 768px) {
	.contact__info {
		margin-bottom: 0;
	}
}

@media (min-width: 1025px) {
	.inner__section--two-col .inner__section__column.contact__info {
		-ms-flex-preferred-size: 66.66666%;
		flex-basis: 66.66666%;
		max-width: 66.66666%;
		min-width: 66.66666%;
	}
	.inner__section--two-col .inner__section__column.contact__form {
		-ms-flex-preferred-size: 33.33333%;
		flex-basis: 33.33333%;
		max-width: 33.33333%;
		min-width: 33.33333%;
	}
}

@media (min-width: 1280px) {
	.contact__form .form {
		margin-top: -165px;
	}
	.contact__info .icon__list__title {
		font-size: 21px;
		line-height: 28px;
	}
}

/* Footer */

.footer {
	margin-top: 32px;
	padding: 32px 16px 16px;
	
	color: #ffffff;
	
	background-color: #0c1f40;
}

.footer__branding, 
.footer__description, 
.footer__info{
	margin-bottom: 32px;
}
.footer .sitemap__sublist {
	color: #7b8698;
	font-size: 12px;
	line-height: 22px;
}
.footer .sitemap__list__item {
	padding-top: 16px;
	padding-bottom: 16px;
}
.footer .sitemap__sublist__anchor:hover {
	color: #ffffff;
}
.footer .navigation__icons__anchor {
	background-color: #3a4d6d;
}

@media (min-width: 1025px) {
	.footer {
		margin-top: 48px;
		padding: 48px 24px;
	}
	.footer__branding, 
	.footer__description {
		margin-bottom: 48px;
	}
	.footer__branding {
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		max-width: 100%;
		min-width: 100%;
	}
	.footer__info {
		-ms-flex-preferred-size: 33.33333%;
		flex-basis: 33.33333%;
		max-width: 33.33333%;
		min-width: 33.33333%;
		margin-bottom: 0;
		padding-right: 24px;
	}
	.footer__navigation {
		-ms-flex-preferred-size: 66.66667%;
		flex-basis: 66.66667%;
		max-width: 66.66667%;
		min-width: 66.66667%;
		margin-top: -24px;
		padding-left: 24px;
	}
	.footer .sitemap__list__item {
		padding-top: 24px;
		padding-bottom: 24px;
	}
}

@media (min-width: 1280px) {
	.footer__info {
		-ms-flex-preferred-size: 25%;
		flex-basis: 25%;
		max-width: 25%;
		min-width: 25%;
	}
	.footer__navigation {
		-ms-flex-preferred-size: 75%;
		flex-basis: 75%;
		max-width: 75%;
		min-width: 75%;
	}
}

/* BottomBar */

.bottombar {
	padding: 16px;
	
	background-color: #0c1f40;
	border-top: 1px solid #3a4d6d;
}
.bottombar .menu__list {
	color: #7b8698;
	font-size: 12px;
	line-height: 22px;
}
.bottombar .menu__list__item:hover {
	color: #ffffff;
}
.bottombar__navigation .menu__list__item {
	margin-right: 16px;
}

@media (min-width: 1025px) {
	.bottombar {
		padding: 24px;
	}
	.bottombar__navigation .menu__list__item {
		margin-right: 24px;
	}
}

@media (min-width: 1280px) {
	.bottombar {
		padding: 24px 48px;
	}
}
