
/* General */

body {
	font-family: 'Montserrat', sans-serif;
}
strong {
	font-weight: 900;
	font-style: italic;
}

/* Headings */

h1 {
	font-size: 28px;
	font-weight: 300;
	line-height: 36px;
}
h2 {
	color: #0c1f40;
	font-size: 21px;
	font-weight: 300;
	line-height: 28px;
}
p, ul, ol, dl, table {
	font-size: 16px;
	line-height: 28px;
}

@media (min-width: 1280px) {
	h1 {
		font-size: 35px;
		line-height: 45px;
	}
	h2 {
		font-size: 28px;
		line-height: 36px;
	}
}